<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064398226059-ljvhjsf7qifbh83hsj3lqeo133af5o5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064398226059-ljvhjsf7qifbh83hsj3lqeo133af5o5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064398226059-o17faarj770phvleahukofvq4l90qrgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDM8zywe1GAIkLkOAvji3iclbymtCA0FEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1064398226059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMeesai</string>
	<key>PROJECT_ID</key>
	<string>oommaa-ogs</string>
	<key>STORAGE_BUCKET</key>
	<string>oommaa-ogs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064398226059:ios:6f816203c03bf41b5c4a8e</string>
</dict>
</plist>